//- ### LAYOUT ###
extends modules/layout

//- ### COMPONENTS ###
include partials/navbar
include partials/slider
include partials/cards
include partials/banner
include partials/tab
include partials/form
include partials/footer

block base

block content	
	+navbar
	+slider
	+cards
	+banner
	+tab
	+form
	+footer
