mixin banner
  #weare.banner-black
    .banner-black__right
      .banner-black__right__text
        h2
          | we
          br
          | are.
        p Consectetur adipiscing elit. Nulla condimentum tortor sem.
        button(type='button')
          a(href='javascript:void(0)')
            | THE PLAYERS 
            i.fas.fa-chevron-right
  #wedo.banner-white
    .banner-white__left
      .banner-white__left__text
        h2 we do.
        p Consectetur adipiscing elit. Nulla condimentum tortor sem.
        button(type='button')
          a(href='javascript:void(0)')
            | THE PROJECTS 
            i.fas.fa-chevron-right
  #careers.banner-black
    .banner-black__right
      .banner-black__right__text
        h2 careers.
        p Consectetur adipiscing elit. Nulla condimentum tortor sem.
        button(type='button')
          a(href='javascript:void(0)')
            | THE POSITION 
            i.fas.fa-chevron-right
