mixin cards
  .cards
    .card
      #play-harder.card__top
      .card__middle
        p
          | Aenean mollis dolor a mattis viverra. In hac habitasse platea dictumst. Curabitur tempus dui tortor, et bibendum lacus eleifend ut.
      .card__bottom
        a(href='javascript:void(0)') READ MORE
    .card
      #simplicity.card__top
      .card__middle
        p
          | Donec vitae augue tellus. Proin et urna sit amet metus fermentum dapibus non quis urna.
      .card__bottom
        a(href='javascript:void(0)') READ MORE
    .card
      #innovation.card__top
      .card__middle
        p
          | Suspendisse vehicula, lectus sed molestie aliquam, arcu neque gravida lacus.
      .card__bottom
        a(href='javascript:void(0)') READ MORE
