mixin footer
  .footer
    .footer__logo
      img(src='../assets/images/logo-playground-white.png', alt='')
    .footer__navbar
      .footer__navbar__items
        ul
          li
            a(href='javascript:void(0)') we do
          li
            a(href='javascript:void(0)') we are
          li
            a(href='javascript:void(0)') careers
          li
            a(href='javascript:void(0)') contact us
    .footer__social
      .footer__social__icon    
        ul
          li
            a(href='javascript:void(0)')
              i.fab.fa-facebook-square
          li  
            a(href='javascript:void(0)')
              i.fab.fa-linkedin-in
          li
            a(href='javascript:void(0)')
              i.fab.fa-instagram
