mixin navbar
  .navbar
    .navbar__left
      img(src='../assets/images/logo-playground-white.png', alt='')
    .navbar__right
      ul
        li
          a(href='#') we are
        li
          a(href='#') we do
        li
          a(href='#') careers
        li
          a(href='#') contact us
