@font-face {
	font-family: 'Gotham';
	src: url('../assets/fonts/Gotham-Book.otf');
}

@font-face {
	font-family: 'Gotham';
	font-weight: bold;
	src: url('../assets/fonts/Gotham-Bold.otf');
}

@font-face {
	font-family: 'Gotham';
	font-weight:  200;
	src: url('../assets/fonts/Gotham-Medium.otf');
}
